.text-line-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 60px 60px 50px 120px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 45%;
}

.text-line {
  font-size: 30px;
}


@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}