.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  /* padding: 40px; */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.772); /* qorong'u overlay */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  color: #fff;
  text-align: left;
  max-width: 700px;
  padding: 20px;
  margin-left: -560px;
}

.hero-subtitle {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.hero-title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-stats {
  font-size: 16px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-button-primary {
  background: linear-gradient(90deg, #2d6dfc, #1a4ed6);
  border: none;
  padding: 15px 30px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.hero-button-primary:hover {
  background: linear-gradient(90deg, #1a4ed6, #2d6dfc);
}

.hero-button-text {
  font-size: 14px;
  max-width: 400px;
}
