.herosection {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 60px 520px 80px 120px;
  max-height: 100vh;
}

.hero {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
}

.hero > h3 {
  font-size: 15px;
  color: white;
  font-weight: 600;
}

.hero > h1 {
  font-size: 64px;
  font-weight: 700;
  color: #FFFFFF;
}

.hero > h2 {
  font-size: 24px;
  color: white;
  font-weight: 500;
}

.hero > .imgtext5 {
  display: flex; 
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
}

.hero > .imgtext5 > h2 {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.btntext {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: white;
}

.btntext > h3 {
  font-size: 18px;
  font-weight: 600;
}

.btntext > button {
  padding: 20px 85px;
  font-size: 18px;
  background: #175CE5;
  color: white;
  border: none;
  transition: all 0.4s ease;
}

.btntext > button:hover {
  padding: 21px 90px;
  font-size: 19px;
  cursor: pointer;
  background-color: white;
  color: #175CE5;
  border-radius: 5px;
}