.portfolio {
  padding: 80px 80px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portfolio h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

/* SLIDER */
.slider {
  position: relative;
  display: flex;
  align-items: center;
}

.track {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
  width: 90%;
}

/* CARD */
.card {
  background: #fff;
  border: 1px solid #f1f5f9;
  border-radius: 8px;
  padding: 16px;
}

.icon {
  width: 20px;
  height: 20px;
  border: 1px solid #3b82f6;
  color: #3b82f6;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 12px;
}

.link {
  font-size: 12px;
  border: 1px solid #3b82f6;
  background: transparent;
  color: #3b82f6;
  padding: 4px 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  /* height: 120px; */
  border-radius: 6px;
  border: 1px solid #e5e7eb;
}

/* ARROWS */
.arrow {
  position: absolute;
  width: 36px;
  height: 36px;
  background: #eff6ff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  color: #3b82f6;
}

.arrow.left {
  left: -50px;
}

.arrow.right {
  right: -50px;
}

/* MOBILE */
@media (max-width: 1024px) {
  .track {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .track {
    grid-template-columns: 1fr;
  }

  .arrow {
    display: none;
  }
}
