.portfolio {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding: 40px 120px;
}

.over-port {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.port {
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
  transition: all 0.4s ease;
}

.port:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

.port > .port-menu-img {
  height: 28px;
  cursor: pointer;
}

.port > button {
  padding: 8px 25px;
  border-radius: 10px;
  color: #2873C8;
  border: 2px solid #2873C8;
  background: white;
  transition: all 0.4s ease;
}

.port > button:hover {
  background-color: #2873C8;
  color: white;
  cursor: pointer;
}

.port > h3 {
  font-size: 15px;
  font-weight: lighter;
  color: #1A2233;
  margin-bottom: 15px;
}