.block {
  background-color: #F2F9FF;
}

.marketingblock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 120px;
  gap: 220px;
  max-height: 250px;
}

.market {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 564px;
}

.market > p {
  font-size: 15px;
  color: #2F3338;
  line-height: 30px;
}