/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* WRAPPER */
.block {
  background-color: #f2f9ff;
  width: 100%;
}

/* MAIN BLOCK */
.marketingblock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 170px;
  gap: 220px;
  min-height: 250px;

  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 45%;
}

/* COLUMN */
.market {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 564px;
}

/* TEXT */
.market p {
  font-size: 15px;
  color: #2f3338;
  line-height: 1.9;
  word-wrap: break-word;
}

/* IMAGES */
.market img {
  max-width: 100%;
  height: auto;
}

/* ANIMATION */
@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ================= RESPONSIVE ================= */

/* LARGE LAPTOP */
@media (max-width: 1200px) {
  .marketingblock {
    padding: 40px 100px;
    gap: 120px;
  }

  .market p {
    font-size: 15px;
  }
}

/* TABLET */
@media (max-width: 992px) {
  .marketingblock {
    padding: 40px 60px;
    gap: 80px;
  }

  .market {
    max-width: 100%;
  }

  .market p {
    font-size: 14.5px;
    line-height: 1.7;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .marketingblock {
    flex-direction: column;
    padding: 30px 20px;
    gap: 30px;
    min-height: auto;
  }

  .market {
    width: 100%;
    justify-content: center;
  }

  .market p {
    font-size: 15px;
    text-align: center;
  }

  .market img {
    max-width: 90%;
  }
}

/* SMALL MOBILE */
@media (max-width: 480px) {
  .market {
    padding: 20px ;
  }
  .market p {
    font-size: 14px;
    line-height: 1.6;
  }

  .market img {
    max-width: 65%;
  }
}

/* EXTRA SMALL */
@media (max-width: 360px) {
  .market p {
    font-size: 13.5px;
  }
}


/* .block {
  background-color: #F2F9FF;
}

.marketingblock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 170px;
  gap: 220px;
  max-height: 250px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 45%;
}

.market {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 564px;
}

.market > p {
  font-size: 15px;
  color: #2F3338;
  line-height: 30px;
}


@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
} */