.block {
  background-color: #F2F9FF;
}

.marketingblock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 170px;
  gap: 220px;
  max-height: 250px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 45%;
}

.market {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 564px;
}

.market > p {
  font-size: 15px;
  color: #2F3338;
  line-height: 30px;
}


@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}