.zoomsection {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px 120px;
  gap: 360px;
}

.zoom {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 45%;
}

.zoom > h1 {
  font-size: 30px;
  font-weight: 600;
  color: #2f3338;
}

.zoom > h3 {
  color: #1a2233;
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 40px;
}

.zoom > .textnumber {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  max-width: 400px;
  margin-top: 20px;
}

.zoom > img {
  height: 120px;
}

.zoom > button {
  padding: 15px 40px;
  font-size: 18px;
  font-weight: lighter;
  background: #1f67d9;
  color: white;
  border: none;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.zoom > button:hover {
  background-color: white;
  color: #1f67d9;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* =================== RESPONSIVE =================== */

/* Tablet */
@media (max-width: 992px) {
  .zoomsection {
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

  .zoom {
    max-width: 90%;
    align-items: center;
    text-align: center;
  }

  .textnumber {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .textnumber img {
    height: 40px;
  }

  .zoom > img {
    height: 100px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .zoom > h1 {
    font-size: 26px;
  }

  .zoom > h3 {
    font-size: 18px;
  }

  .textnumber p {
    font-size: 15px;
  }

  .zoom > button {
    font-size: 17px;
    padding: 15px 30px;
  }
  .zoom > img {
    height: 80px;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .zoom > h1 {
    font-size: 22px;
  }

  .zoom > h3 {
    font-size: 16px;
  }

  .textnumber p {
    font-size: 14px;
  }

  .zoom > button {
    font-size: 13px;
    padding: 15px 25px;
  }

  .zoom > img {
    height: 50px;
  }
}