.zoomsection {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px 120px;
  gap: 360px;
}

.zoom {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  /* max-width: 400px; */
}

.zoom > h1 {
  font-size: 30px;
  font-weight: 600;
  color: #2f3338;
}

.zoom > h3 {
  color: #1a2233;
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 40px;
}

.zoom > .textnumber {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  max-width: 400px;
  margin-top: 20px;
}

.zoom > img {
  height: 120px;
}

.zoom > button {
  padding: 15px 40px;
  font-size: 18px;
  font-weight: lighter;
  background: #1f67d9;
  color: white;
  border: none;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.zoom > button:hover {
  background-color: white;
  color: #1f67d9;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  padding: 20px 50px;
}
