.niche {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding: 40px 190px;
}

.niche > h2 {
  font-size: large;
}

.overal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px
  ;
}

.nicheSection > img {
  height: 310px;
}