.niche {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding: 40px 120px;
}

.niche > h1 {
  margin-left: -970px;
}

.overal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 45%;
}

.nicheSectionl {
  background: linear-gradient(45deg, #4a7ee4 0%, #f5f8ff 100%);
  padding: 40px 40px 0;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  transition: all 0.5s ease;
}

.text1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.t {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.t > p {
  font: 12px;
  color: #2f3338;
  position: relative;
}

.t > p:after {
  content: "";
  position: absolute;
  /* background-color: red; */
  background-color: #1f67d9;
  left: 0;
  bottom: -2px;
  display: inline-block;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.t > p:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.t > h3 {
  color: #ffffff;
  font-size: 24px;
}

.t > button {
  background-color: #175ce5;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  color: white;
  font-weight: lighter;
  cursor: pointer;
  transition: all 0.4s ease;
}

.t > button:hover {
  background-color: white;
  color: #175ce5;
  /* padding: 11px 31px; */
  /* font-size: 16px; */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

.nicheSection {
  background: linear-gradient(0deg, #d5e3ff 0%, #f5f8ff 100%);
  padding: 40px 150px 0 40px;
  border-radius: 10px;
  max-width: 415px;
  transition: all 0.5s ease;
  /* display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px; */
}

.t > p {
  transition: all 0.4s ease;
}

.t > p:hover {
  /* font-size: 18px; */
  color: #175ce5;
  cursor: pointer;
}

.niche > h1 {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.nicheSectionl:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

.nicheSection:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

.nicheSection > h3 {
  color: #175ce5;
  font-size: 24px;
}

.nicheSection > .img1 {
  height: 205px;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
