.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 190px;
  gap: 20px;
}

.head1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.head1 > img {
  height: 50px;
}

.head1 > h2 {
  font-size: 16px;
  font-weight: lighter;
  color: grey;
}

.margin {
  margin-left: 260px;
  font-size: 22px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.margin > span {
  color: grey;
  font-size: 16px;
}

.head2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

 .link1 {
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}

/* .head2 > .link1:hover {
  text-decoration: underline;
  color: #175CE5;
  cursor: pointer;
  font-size: 25px;
} */

.link1:hover {
  cursor: pointer;
  color: #2873C8;
}

.link1:after {
	content: '';
  position: absolute;
  /* background-color: red; */
  background-color: #1F67D9;
  left: 0;
  bottom: -2px;
  display: inline-block;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.link1:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}