.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 190px;
  gap: 20px;
}

.head1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.head1 > img {
  height: 50px;
}

.head1 > h2 {
  font-size: 16px;
  font-weight: lighter;
  color: grey;
}

.margin {
  margin-left: 260px;
  font-size: 22px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.margin > span {
  color: grey;
  font-size: 16px;
}

.head2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.head2 > .link1 {
  font-size: 20px;
  font-weight: 500;
}