.workf {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  padding: 40px 120px;
  /* max-width:min-content */
}

.workf > h1 {
  
  color: #2F3338;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 45%;
}

.workflow {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.work {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 80px;
}

.work1 {
  display: flex;
  align-items: flex-start;
  gap: 300px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.work > p {
  color: #1A2233;
  font-size: 15px;
}

.steps-wrap {
  position: relative;
  width: 1200px;
  margin: 50px auto;
}

.work2 {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.work3 {
   display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 250px;
  margin-left: 300px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.line.full {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #dbe6ff;
  z-index: 0;
}

.steps {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.step {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  color: #4f7cff;
}

.s1 {
  border: 1px solid #7aa7ff;
  font-size: 20px;
  color: #2f3338;
}
.s2 {
  border: 2px solid #7aa7ff;
  font-size: 20px;
  color: #2f3338;
}
.s3 {
  border: 3px solid #7aa7ff;
  font-size: 20px;
  color: #2f3338;
}
.s4 {
  border: 4px solid #7aa7ff;
  font-size: 20px;
  color: #2f3338;
}
.s5 {
  border: 5px solid #7aa7ff;
  font-size: 20px;
  color: #2f3338;
}
.s6 {
  border: 6px solid #2563eb;
  font-size: 20px;
  color: #2f3338;
} 

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}