.problemsection {
  display: flex;
  align-items: flex-start;
  /* justify-content: center;  */
  padding: 40px 120px;
  gap: 250px;
}

.problem {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  max-width: 420px;
}

.problem > h1 {
  color: #175CE5;
  font-size: 32px;
  font-weight: lighter;
}

.problem > .textarrow {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.textarrow > p {
  color: #1A2233;
  font-size: 18px;
}

.textarrow > img {
  height: 75px;
}