.problemsection {
  display: flex;
  /* align-items: center; */
  justify-content: center; 
  padding: 40px 120px;
  gap: 250px;
}

.problem {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  max-width: 420px;
}

.problem > h1 {
  color: #175CE5;
  font-size: 32px;
  font-weight: lighter;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.problem > .textarrow {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.textarrow > p {
  color: #1A2233;
  font-size: 18px;
}

.textarrow > img {
  height: 75px;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}