.casebody {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 120px;
}

.caseSection {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  background: linear-gradient(45deg, #0024CB 0%, #4CA5FF 50%, #F2FAFF 100%);
  color: white;
  border-radius: 10px;
}

.case1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 730px;
}

.caseover > h2 {
  font-size: 40px;
}

.line {
  height: 0.1px;
  width: 100%;
  background-color: rgb(218, 218, 218);
}

.case2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 40px;
  flex-wrap: wrap;
  gap: 20px;
}

.case2 > .case {
  min-width: min-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  max-width: 250px;
}

.case2 > .case5 {
  min-width: min-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  max-width: 250px;
  margin-top: 70px;
}

.case > h2 {
  font-size: 24px;
  font-weight: lighter;
}

.case > h3 {
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 40px;
}

.case > button {
  padding: 15px 30px;
  background: white;
  border: none;
  border-radius: 10px;
  color: #2f3338;
  font-size: 16px;
  transition: all 0.4s ease;
}

.case > button:hover {
  background-color: #0631f1;
  color: white;
  cursor: pointer;
  padding: 20px 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.55);
}

.case > p {
  font-size: 18px;
  font-weight: lighter;
}
